
<div>
    <h1 class="cover-heading"> Planet Connection </h1>
    <p class="lead"> how to play, description and stuff like that ... </p>

    <br>

    <strong> Difficulty: </strong>
    <br>
    <div id="difficulty" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" value="1"> easy
        </label>
        <label class="btn btn-default active">
            <input type="radio" value="2"> medium
        </label>
        <label class="btn btn-default">
            <input type="radio" value="3"> hard
        </label>
    </div>

    <br>

    <hr>

    <p class="lead">
        <a ng-href="#/game" ng-click="clickStart()" class="btn btn-lg btn-primary"> Start Game </a>
    </p>
</div>


