
<div>
    <h1 class="cover-heading">  <u> Planet Connection  </u> </h1>
    <p class="lead"> 
        You are a spaceship pilot and you have to connect some planets for no reason.
        <br>
        Use your highend-laser-technology-tools and just do that job!
        <br>
        Try to connect as many planets as possible before the timer expires.
        <br>

        <br>

    <u> how to play: </u>

    <br>

    Select a planet by clicking on it and fly over it by using the arrow-keys.

    </p>

    <br>

    <strong> Difficulty: </strong>
    <br>
    <div id="difficulty" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" value="1"> easy
        </label>
        <label class="btn btn-default active">
            <input type="radio" value="2"> medium
        </label>
        <label class="btn btn-default">
            <input type="radio" value="3"> hard
        </label>
    </div>

    <br>

    <hr>

    <p class="lead">
        <a ng-href="#/game" ng-click="clickStart()" class="btn btn-lg btn-primary"> Start Game </a>
    </p>
</div>


